.clear{ clear:both; }

/*活动*/
.btn_dialog{padding:5px 0; background:#fff;position:absolute; border:1px solid #999; text-align:center; }
.btn_dialog a{ display:block; text-align:center;}
.active_detail_dialog{ width:600px; background:#fff; position:absolute; left:0; top:0; }
.active_show_detail span{ margin-right:20px; color:red;}

/*弹框*/
.active_detail_dialog table,
.wj_dialog table {table-layout:fixed; margin-bottom:0; border:none;  word-break:break-all;}
.active_detail_dialog .close_btn,
.close_dialog_btn{ position:absolute; right:8px; top:8px; cursor:pointer; background:url('images/close_tip.png') no-repeat; width:14px; height:14px; }

.link_creator{ }
.link_creator select{ width:100px;}
.link_creator input[type="text"]{ width:80px;}
.link_creator .lc_preview{border:1px solid #ccc; background:#fff; margin-bottom:10px; padding:2px; min-height:20px; word-break:break-all;}
.link_creator .lc_content{ display:inline-block;}
.link_creator label.online_time{display:inline; margin-left:5px; width:auto; float:none;}
.link_creator .map_suggest{ width:100px; border:1px solid #ccc; background:#fff; display:none;}
.link_creator .map_suggest ul{ list-style:none; margin:0; padding:0;}
.link_creator .map_suggest li{ marign:0; padding:0; cursor:pointer; padding:0 5px; white-space:nowrap; overflow:hidden;}
.link_creator .map_suggest li.selected{ background:blue; color:white;}

/*道具*/
.goods_item{ margin:0; padding:0;}
.goods_item span{ display:inline-block; width:120px; white-space:nowrap; overflow:hidden; }

/*分页*/
.page{ text-align:center; padding-bottom:10px;}
.page a, .page strong, .page span{padding:3px 5px; text-decoration:none; display:inline-block; margin-right:5px;}
.page a{   border:1px solid #0088cc; color:#0088cc;  cursor:pointer;}
.page a:hover{ background:#0088cc; color:white;}
.page strong, .page span{cursor:default; border:1px solid #ddd; color:#ccc; font-weight:normal;}
.page font{ margin-right:5px;}

/*-= 用户 =-*/
.account_query .wj_dialog{ width:600px;background:#fff;}
.account_query .wj_dialog table{ width:100%; margin:0;}

.account_query .wj_dialog div{ margin:15px 0 15px 20px;}
.account_query .wj_dialog div p:first-child{ font-size:18px;}
.account_query .wj_dialog div a{ font-size:16px;}
.account_query .wj_dialog div span{ color:red; margin-left:10px;}

.account_query .wj_dialog div.d_con{ max-height:200px; overflow:auto; }
.account_query .wj_dialog div.d_con p{ margin:0; padding:0; font-size:12px; padding-bottom:5px;}
.account_query .wj_dialog div.d_con p span{ color:#333; display:inline-block; width:200px;}
.account_query .wj_dialog.query_account_dialog{ width:700px;}

/*-= 用户批量操作 =-*/
.account_bat .bat_item input[type="text"]{ width:80px; padding:4px 0; height:auto; margin:0;}
.account_bat select{ width:auto;}
.account_bat .add_item{ margin-bottom:10px;}
.account_bat .menu{ display:none; width:85px; border:1px solid #ccc; text-align:center; background:#fff; position:absolute; left:0; top:0;}
.account_bat .menu ul{ list-style:none; margin:0; padding:0;}
.account_bat .menu ul li{ padding:2px 0; cursor:pointer;}
.account_bat .menu ul li:hover{ background:blue; color:white; }
.account_bat .items th{ width:100px; text-align:right;}
.account_bat .items td.last{width:100px;}
.account_bat .items td,
.account_bat .items th{ line-height:30px;}
.account_bat .tab_title{ padding-left:0px;}
.account_bat .tab{ cursor:pointer; display:inline-block; height:35px; line-height:35px; width:100px; text-align:center; position:relative; top:-3px;} 
.account_bat .curr{ background:#fff; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE; position:relative; left:-1px;}
.account_bat .loading{ margin-bottom:10px; display:inline-block; margin-left:10px; display:none;}
.account_bat .upload_form_div{ margin-left:-100px;}

/*-=广告=-*/
.ad_list p.ad_item{ margin:0; height:22px; width:100%; overflow:hidden;  white-space:nowrap; }
.ad_list p.ad_item span{ height:22px; overflow:hidden;}
.ad_list span.ad_item_tit{ color:#999; display:inline-block; width:100px; }
.ad_list span.ad_item_val{ display:inline-block; width:300px; }
.ad_list tr.ad_row{ cursor:pointer;}

/*-= 好友 =-*/
.friend_list .filter_tool{ margin:0 5px;  margin-bottom:0; padding-bottom:0px; }
.friend_list .filter_tool select{ width: auto; margin-right:8px; margin-bottom:0;}

/*-= 武将列表 =-*/
.hero_list .zb{ width:400px; background:#fff;}
.hero_list .zb .hero_item_con{ margin:10px;}
.hero_list .zb .hero_item_con table{ margin-bottom:10px;}

/*-= item query suggest =-*/
.suggest_placeholder{ width:100%; border:1px solid #ccc; background:#fff; display:none;}
.suggest_placeholder ul{ list-style:none; margin:0; padding:0;}
.suggest_placeholder li{ margin:0;  cursor:pointer; padding:0 5px; white-space:nowrap; overflow:hidden;}
.suggest_placeholder li.selected{ background-color:#66afe9; color:white;}


/*-= 物品发放历史 =-*/
.gih .sh_box{margin-left:10px; margin-top:10px;}
.gih .sh_box input[type=text]{ margin-bottom:0; margin-right:5px;}
.gih .sh_box form{ margin-bottom:5px;}

/*-= 赛事公告 =-*/
.competition{ background-color:#eeeeee;}
.competition a{ color:#0088cc; text-decoration:none; font-size:12px;}
.competition .clear{ clear:both; }
.competition label{ display:inline;}
.competition .main{ margin: 0 auto; width:830px; margin:0 auto; padding:15px; padding-top:20px; background:#fff;}
.competition p{ margin:0; padding:0;}
.competition .control{ width:400px; float:left; margin-right:20px;}
.competition .control td,
.competition .control th{ padding:5px 0 5px 10px;}
.competition .content h3{ font-size:14px; margin:0; padding:0; line-height:14px; color:#333; padding-bottom:2px;}
.competition .content h3 img{ width:16px; height:16px;}
.competition .content p{ color:#666;}
.competition .content{ color:#333; padding-top:5px; padding-bottom:5px; width:400px; height:478px; border:1px solid #ddd; float:left; overflow:auto; border-radius:4px;}
.competition .content .item1{ font-size:12px; height:75px; border-bottom:1px dotted #ddd; padding:5px 0; cursor:pointer; position:relative;}
.competition .content .item2{ font-size:12px; height:75px; border-bottom:1px dotted #ddd; padding:5px 0; cursor:pointer; position:relative;}
.competition .content .selected{ background:#eee; }
.competition .content .hot{ position:absolute; left:45px; top:16px; width:20px; }
.competition .content .item2 .link1{ float:left;}
.competition .content .item2 .link2{ float:right; padding-right:5px;}
.competition .item1 .icon, .competition .item2 .icon{ border:1px solid #ddd; padding:2px; height:50px; width:50px; float:left; display:inline-block; margin-top:10px; margin-left:10px;}
.competition .item1 .icon{}
.competition .item2 .icon{}
.competition .item1 div, .competition .item2 div{ height:65px; float:left; width:300px; margin-left:10px;}
.competition .item2 div p:nth-of-type(1){ height:40px; overflow:hidden; }
.competition .form_common{ margin-top:10px;}
.competition .form_common td{ padding-top:10px; }

#result_view{ display:none;}
#result_view table th, #result_view table td{ padding-top:3px; padding-bottom:3px;}
#result_view table th{padding-left:20px; padding-right:5px; color:#999;}
#result_view table td{ color:#f30;}
#result_view h1{ font-size:20px; margin-left:20px; padding-bottom:10px; border-bottom:1px solid #333;}
#result_view div{ margin: 5px 3px 5px;}
#result_view input{ margin-left:20px; padding:3px;}

/*-=三国大乐斗大区选择控件=-*/
.area-control-channel-select{width:150px; display:inline-block;}
.area-control-area-placeholder{display:inline-block; margin-left:15px;}
.area-control-area-placeholder label{ margin-top:0;}
.area-control-area-select{width:150px;}

/*-= mgms activity =-*/
.mgms_activity .activity_info_item{ margin-bottom:10px; border:1px solid #cad1dd; padding:15px;background-color:#f9f9fb}
.mgms_activity .activity_info_item > .main_item > input[type="text"],
.mgms_activity .activity_info_item > .main_item > select { width:150px; float:left; margin-right:10px; margin-top:5px;}
.mgms_activity .activity_info_item > .main_item > input[name="remove"]{ float:left; margin-top:5px;}
.mgms_activity .activity_info_item > .main_item > span.add_btn_placeholder{ display:block; float:left; margin-top:5px; margin-left:5px;}
.mgms_activity .activity_info_item > .main_item > div[data-plugin="datepicker"]{ width:180px;float:left; margin-right:10px; margin-top:5px;}
.mgms_activity .activity_info_item .main_item{}

.mgms_activity .prop_item{ margin-top:10px;}
.mgms_activity .prop_item input[type=text]{border:1px solid #cad1dd; padding:3px; width:130px; float:left; margin-right:10px; }
.mgms_activity .prop_item select{border:1px solid #cad1dd; padding:3px; color:#999;width:130px; float:left; margin-right:10px;}

/*-= mgms collect activtiy =-*/
.mgms_activity_collect .activity_info_item{ position:relative;}
.mgms_activity_collect .activity_info_item_btns{ position:absolute; left:630px; top:50px;}
.mgms_activity_collect .activity_info_item .attachMent_item{ padding-bottom:10px;}
.mgms_activity_collect .condition_item{ margin-top:10px;}
.mgms_activity_collect .condition_item input[type=text]{border:1px solid #cad1dd; padding:3px; width:130px; float:left; margin-right:10px; }
.mgms_activity_collect .condition_item select{border:1px solid #cad1dd; padding:3px; color:#999;width:130px; float:left; margin-right:10px;}
.mgms_activity_collect .activity_item_tb{margin-bottom:10px;}
.mgms_activity_collect .activity_item_tb th{ padding-right:10px; padding-top:15px; font-weight:normal; vertical-align:top;}


/*-= nation =-*/
.prop_item{ margin-top:10px;}
.prop_item input[type=text]{border:1px solid #cad1dd; padding:3px; width:130px; float:left; margin-right:10px; }
.prop_item select{border:1px solid #cad1dd; padding:3px; color:#999;width:130px; float:left; margin-right:10px;}

/*接口平台*/
.webservice_desc_dialog{ width:600px; background:#fff; } 
.webservice_desc_dialog .param_item + p{ margin-top:10px;}
.webservice_desc_dialog .param_item input[type=text]{border:1px solid #cad1dd; padding:3px; width:130px; float:left; margin-right:10px; }
.webservice_desc_dialog .param_item select{border:1px solid #cad1dd; padding:3px; color:#999;width:130px; float:left; margin-right:10px;}
.webservice_desc_dialog .param_item .btn{ border:none; background:#fff;font-weight: 400;color: #428bca;cursor: pointer;padding: 4px 6px;}
.webservice_desc_dialog table{ width:100%;}
.webservice_desc_dialog span.close_dialog {position: absolute;right: 8px;top: 8px;width: 14px;height: 14px;cursor: pointer;background: url('images/close_tip.png');}
.webservice_desc_dialog .content {max-height:370px; overflow-y:auto;overflow-x:hidden; padding: 10px 0; width:100%;}
.webservice_desc_dialog .form { border:0; margin-bottom:0; width:100%;}
.webservice_desc_dialog .form .form-row {  }
.webservice_desc_dialog .form > tbody > tr > td { border-width:0; }
.webservice_desc_dialog .form .form-field, .form .form-component { padding:8px; line-height:24px; vertical-align:middle; }
.webservice_desc_dialog .form .form-field { text-align:right; white-space:nowrap; font-size:12px; }
.webservice_desc_dialog .form .form-field label { display:inline-block; margin:0; font-weight:400; }
.webservice_desc_dialog .form .form-control{ width:470px; padding: 5px 4px;border:1px solid #cad1dd; color: #6a788d;}
.webservice_desc_dialog .form select.form-control{ width:482px;}
.webservice_desc_dialog .try_response{ width:570px; overflow:auto; padding:0 10px;}
.webservice_desc_dialog .try_response pre{}
.webservice_desc_dialog .try_response h1{ padding-bottom:8px; font-size:16px;}

/*热点关注*/
.hot_focus{ }
.hot_focus a{ color:#0088cc; text-decoration:none; font-size:12px;}
.hot_focus .clear{ clear:both; }
.hot_focus label{ display:inline;}
.hot_focus .main{ margin: 0 auto; width:1200px; margin:0 auto; padding:15px; padding-top:20px; background:#fff;}
.hot_focus p{ margin:0; padding:0;}
.hot_focus .control{ width:400px; float:left; margin-right:20px;}
.hot_focus .control td,
.hot_focus .control th{ padding:5px 0 5px 10px;}
.hot_focus .content h3{ font-size:14px; margin:0; padding:0; line-height:14px; color:#333; padding-bottom:2px;}
.hot_focus .content h3 img{ width:16px; height:16px;}
.hot_focus .content p{ color:#666;}

.hot_focus .content_box{ position:relative; overflow:hidden; height:520px; width:630px;}
.hot_focus .content{ overflow:hidden; color:#333; }
.hot_focus .content .list{ width:0px;}
.hot_focus .content .item{ width:300px; margin-bottom:0px;  margin-right:15px; float:left;}
.hot_focus .content .item img{ width:100%; height:250px;}
.hot_focus .content .item th{ width:140px; text-align:right; font-weight:normal;}
.hot_focus .content .item th,
.hot_focus .content .item td {background:#fff; padding:5px 8px; color:#6a788d;}
.hot_focus .content .item .row1 div{ height:20px; width:210px; overflow:hidden; white-space:nowrap;}
.hot_focus .content .item .row2 div{ height:60px;overflow: auto;}
.hot_focus .content .item .row3 div{ height:20px; overflow:auto;}

.btns{ position:absolute; left:50%; bottom:0px; width:110px; margin-left:-50px; background:#fff; height:30px; }
.btns span{ display:inline-block; width:40px; text-align:center; color:#6a788d; position:relative; top:2px; font-size:14px;}
.btns img{ width:30px; height:30px; cursor:pointer;}

.hot_focus #upload_pic_form{ margin:0; padding:0;}
.hot_focus .selected_items{ margin:5px 0; }
.hot_focus .selected_items ul{ margin:0; padding:0;}
.hot_focus .selected_items li{ list-style:none; height:22px; line-height:22px;}
.hot_focus .selected_items li span{ display:inline-block;white-space:nowrap; overflow:hidden;}
.hot_focus .selected_items li span.item_name{ width:110px; }
.hot_focus .selected_items li span.item_count{ width:60px; margin-left:15px;}
.hot_focus .selected_items li span.item_remove{ cursor:pointer;}

.hot_focus .bottom_tb{ width:1082px;}

/*-==-*/
.area_placeholder_adaptive{ width:100%;}
.area_placeholder_adaptive .area-control-channel-select{ width:50%; float:left; display:block;}
.area_placeholder_adaptive .area-control-area-placeholder{  margin-left:51%; float:none; display:block;}
.area_placeholder_adaptive .area-control-area-select{ width:100%; }

/*-=硬霸三国文本输入和文件上传切换=-*/
.fill_id_type{ width:80px;  float:left;}
.fill_id_element{margin-left:90px; }
.fill_id_element > input{ width: 100%;}
.player_id_file_name{ display: inline-block; position: relative; top:-10px; display: none;}
.upload_pic{ width:100px; height:35px; display:inline-block; position:relative;overflow: hidden;}
.upload_pic button{ position: absolute; left:0; top:0;}
.upload_pic .upload_file{  cursor:pointer; position:absolute; right:0px;opacity:0; height: 35px;}

/*m3dld_chat_monitor*/
.chat_monitor_dialog{ width:600px; background:#fff; }
.chat_monitor_dialog .param_item + p{ margin-top:10px;}
.chat_monitor_dialog .param_item input[type=text]{border:1px solid #cad1dd; padding:3px; width:130px; float:left; margin-right:10px; }
.chat_monitor_dialog .param_item select{border:1px solid #cad1dd; padding:3px; color:#999;width:130px; float:left; margin-right:10px;}
.chat_monitor_dialog .param_item .btn{ border:none; background:#fff;font-weight: 400;color: #428bca;cursor: pointer;padding: 4px 6px;}
.chat_monitor_dialog table{ width:100%;}
.chat_monitor_dialog span.close_dialog {position: absolute;right: 8px;top: 8px;width: 14px;height: 14px;cursor: pointer;background: url('images/close_tip.png');}
.chat_monitor_dialog .content {max-height:370px; overflow-y:auto;overflow-x:hidden; padding: 10px 0; width:100%;}
.chat_monitor_dialog .form { border:0; margin-bottom:0; width:100%;}
.chat_monitor_dialog .form .form-row {  }
.chat_monitor_dialog .form > tbody > tr > td { border-width:0; }
.chat_monitor_dialog .form .form-field, .form .form-component { padding:8px; line-height:24px; vertical-align:middle; }
.chat_monitor_dialog .form .form-field { text-align:right; white-space:nowrap; font-size:12px; }
.chat_monitor_dialog .form .form-field label { display:inline-block; margin:0; font-weight:400; }
.chat_monitor_dialog .form .form-control{ width:470px; padding: 5px 4px;border:1px solid #cad1dd; color: #6a788d;}
.chat_monitor_dialog .form select.form-control{ width:482px;}
.chat_monitor_dialog .try_response{ width:570px; overflow:auto; padding:0 10px;}
.chat_monitor_dialog .try_response pre{}
.chat_monitor_dialog .try_response h1{ padding-bottom:8px; font-size:16px;}


.act_conf_dialog{ width:600px; background:#fff; }
.act_conf_dialog table{ width:100%;}
.act_conf_dialog .form { border:0; margin-bottom:0; width:100%; margin-top: 25px; margin-bottom: 25px;}
.act_conf_dialog .form td,.act_conf_dialog .form th { border-width:0; padding:3px 0;}
.act_conf_dialog .form th{ text-indent: 30px; width: 180px; font-weight: normal;}
.act_conf_dialog .form td input[type=text],
.act_conf_dialog .form td select{ width: 220px; border:1px solid #b2bdcf; padding: 1px;}

/*-= 活动配置 =-*/
label.activity_conf_field_error{  color:red; font-weight: normal; margin:0; padding:0; margin-left: 5px;}


.simple_ubb_editor{  border:1px solid #ddd; padding:5px; display: inline-block;}
.simple_ubb_editor textarea{ width:350px; height:80px; border:1px solid #ccc;}
.simple_ubb_editor .toolbar{ height:24px; width:350px; border:1px solid #ccc;border-top: 0; padding-top: 3px;}
.simple_ubb_editor .toolbar .ubb_button{ height:24px; width:24px; margin-left:5px; display:inline-block; cursor: pointer;}
.pluginPopup.face{ width:200px; border:1px solid #ccc; background:#fff; }
.pluginPopup.font_size{ width: 50px; border:1px solid #ccc; background:#fff; }
.pluginPopup.font_size ul{ margin-top: 4px; margin-bottom: 4px;}
.pluginPopup.font_size li{ height: 20px; line-height: 20px; text-align: center; cursor: pointer;}
.pluginPopup.color{ width: 150px;}
.pluginPopup.color li{ width: 15px; height: 15px; display: block; float: left; cursor: pointer;}

/*-=硬霸三国活动配置dialog=-*/
.form td.dialog_area_field{ padding-right: 10px; padding-bottom: 10px;  }
.form td.dialog_area_field div{   max-height: 100px; overflow-y:auto;}
.form td.dialog_area_field select{ width:110px;}
.form td.dialog_area_field label{ display: inline-block; padding: 4px;}

.datagrid-page .statistics{ padding-top:5px;}