.new{
color:red;
      font-weight:bold;
}

a {
color: #3366CC;
       text-decoration: none;
}


.Canvas {
    background-color: #ececec;
    border: 1px solid #cecece;
    color: #000000;
    font: 10pt Georgia;
}
.ObjectBrace {
    color: #00aa00;
    font-weight: bold;
}
.ArrayBrace {
    color: #0033ff;
    font-weight: bold;
}
.PropertyName {
    color: #cc0000;
    font-weight: bold;
}
.String {
    color: #007777;
}
.Number {
    color: #aa00aa;
}
.Boolean {
    color: #0000ff;
}
.Function {
    color: #aa6633;
}
.Null {
    color: #0000ff;
}
.Comma {
    color: #000000;
    font-weight: bold;
}
pre {
    border: 0 solid #ccc;
    font-size: 11px;

}
PRE.CodeContainer {
    margin-bottom: 0;
    margin-top: 0;
}
