/out/
/build/
com/
ftpTest.class
.gradle/
abcd.txt
settings.gradle
src/main/resources/update_srv_cfg.log
src/main/webapp/WEB-INF/lib/
what2eat.ipr
what2eat.iws
/ssm/build/
/ssm/out/
what2eatapp/build/
what2eat.xml
what2eat.properties
.project
abc.txt
.idea
/gradle/wrapper/gradle-wrapper.jar
build
bilibili-player.html