.popup {
	background: #fff;
	border: 1px solid #333;
	position: absolute;
	width: 1000px;
	max-height: 500px;
	left: 50%;
	margin-left: -500px;
	z-index: 999;
	overflow: auto;
}

.popup .view_route_info {
	width: 100%;
	height: 100%;
}

.popup .view_route_info .loading {
	margin: 10px 30px;
}

.popup .view_route_info .error {
	margin: 10px 30px;
	color: red;
}

.popup .view_route_info .table {
	width: 90%;
	margin: 30px auto 30px auto;
	background: #ccc;
	color: #000;
	'
}

.popup .view_route_info .table tr.last td {
	
}

.popup .view_route_info .table td.highlight {
	color: red;
	font-weight: bold;
	cursor: pointer;
}

.popup .view_route_info .table td.highlight.selected {
	color: white;
	background: red;
	font-weight: bold;
}

.popup .view_route_info .table th {
	text-align: left;
}

.popup .view_route_info .table th.thead {
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
}

.popup .view_route_info .table th,.popup .view_route_info .table td {
	background: #fff;
	color: #333;
}

span.close {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	background: url('../../css/images/close_tip.png');
}

.mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #000;
	z-index: 998;
	display: block
}

.delay_detail {
	color:#333;
	position: absolute;
	background: white;
	border: 1px solid #666;
	padding: 8px;
	z-index: 999;
	width:330px;
	max-height: 300px;
	text-align:center;
	overflow-y: auto;
	-webkit-box-shadow: #666 5px 3px 10px;
	-moz-box-shadow: #666 5px 3px 10px;
	box-shadow: #666 5px 3px 10px;
}

.delay_detail div{
 	padding-top:15px;	
}

.delay_detail p{
	margin:0;
	padding: 5px 0;	
}

.delay_detail p.highlight{ 
	color:red;
}

.delay_detail span {
	color: #666;
}