body {
	font-size:12px;
	background-color: #eee;
}

/*[class^="icon-"], [class*=" icon-"] {
	background-image: none;
}*/

/** STRIPS **/
#top-strip {
	background-color: #000;
	color: #555;
	padding: 2px;
}
#top-strip a {
	font-size: 11px;
	color: #5E9F68;
	text-decoration: none;
}
#top-strip a:hover {
	text-decoration: underline;
}
#logo-strip {
	height: 40px;
	background-color: #3A4450;
}
.logo {
	padding-top: 10px;
	font-size:14px;
	font-weight:700;
	color:#eeeeee;
	width:200px;
	float:left;
}

.product {
	padding-top: 10px;
	font-size:14px;
	font-weight:700;
	color:#eeeeee;
	width:200px;
	float:left;
}

.welcome {
	padding-top: 10px;
	color:#eeeeee;
	float:right;
}

#logo-strip .container { 
	width:92%; 
}

#nav-strip {
	min-height: 40px;
	background-color: #0088CC;
}
#nav-strip .nav-outer {
	width:96%;
	margin:auto;
}

#nav-strip .navbar {
	margin-bottom: 0;
	color: #fff;
}
#nav-strip .navbar-inner {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 10px;
	background-color: #0088CC;
	background-image: none;
	background-repeat: no-repeat;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0;
}
#nav-strip .navbar .nav > li > a {
	float: none;
	padding: 10px 10px 11px;
	line-height: 19px;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	text-shadow: none;
}
#nav-strip .navbar .nav > li > a:hover {
	background-color: transparent;
	color: #3A4450 !important;
	text-decoration: none;
}
#nav-strip .navbar .nav .active > a, #nav-strip .navbar .nav .active > a:hover {
	background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
	background-image: -ms-linear-gradient(top, #eeeeee, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
	background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
	background-image: linear-gradient(top, #eeeeee, #ffffff);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'eeeeee, endColorstr='#'ffffff, GradientType=0);
	color: #3A4450;
	text-decoration: none;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 1);
}
#nav-strip .navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
#nav-strip .navbar .nav li.dropdown.open > .dropdown-toggle,
#nav-strip .navbar .nav li.dropdown.active > .dropdown-toggle,
#nav-strip .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #555;
	background-color: #FFF;
}
#nav-strip .navbar-search .search-query {
	background-color: #345639;
	padding:4px 9px 1px 9px;
}
#nav-strip .dropdown-menu li > a:hover,
#nav-strip .dropdown-menu .active > a,
#nav-strip .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #5E9F68;
}
#subnav-strip {
	min-height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

#subnav-strip .container {
	width:92%;
}

#subnav-strip .nav {
	margin-top: 2px;
	margin-bottom: 3px;
	padding-left: 8px;
}
#subnav-strip a {
	color: #999;
}
#subnav-strip a {
	color: #999;
}
#subnav-strip .nav-tabs .dropdown-toggle .caret, #subnav-strip .nav-pills .dropdown-toggle .caret {
border-top-color: #999;
border-bottom-color: #999;
}

.nav-pills .open .dropdown-toggle {
background-color:#eee;
}

#nav-strip .container {
	width:96%
}

.tab > a.active{
	background-color: #EEEEEE;
} 

#content {
	margin-top:10px;
}

#content .container {
	width:99%
}
/* change dropdown and nav list hover colors */
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #333333;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #5e9f68;
}

#footer {
	color: #FFFFFF;
	height:28px;
	line-height:28px;
	font-weight:700;
	width:100%;
	background-color:#0088CC;
}
.container-inner {
	border: 1px solid #CDCDCD;
	background-color: #fff;
}
.container-inner h2 {
	position: relative;
	padding: 16px 19px 11px;
	border-bottom: 1px solid #E4E4E4;
	background: #F4F4F4;
	color: #505050;
	font-size: 13px;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;	
}
.content-inner {
	padding: 15px;
}

/* Stats */
.big-stats { margin-bottom: 20px; }
.big-stat {
	background-color: #F4F4F4;
}
.big-stat > header {
	border-bottom: 1px solid #E4E4E4;
	border-top: 1px solid #E4E4E4;
	height: 17px;
	overflow: hidden;
	padding: 10px 15px 11px;
	line-height: 100%;
	font-size: 15px;
	font-weight: bold;
}
.big-stat > header > section {
	color: #CCC;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 3px;
}
.big-stat > section {
	border-top: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
	padding: 10px;
	color: #707275;
	font-size: 12px;
}
.big-stat > section .stat {
	font-size: 44px;
	line-height: 1em;
	text-align: center;
	color: #999;
	text-shadow: 1px 1px 1px #E4E4E4, -1px -1px 1px #E4E4E4;
}
.big-stat > section .stat.danger {
	color: #da4f49;
}
.small-stat {
	font-size: 10px;
	color: #999;
}
.stat-number {
	font-size: 48px;
	color: #666;
}
.stat-number.up {
	color: #468847;
}
.stat-number.down {
	color: #b94a48;
}
.stat-number [class^="icon-"],
.stat-number [class*=" icon-"] {
	vertical-align: middle;
}
.stat-caret-up {
	color: #dff0d8;
}
.stat-caret-down {
	color: #f2dede;
}

/** Panels **/
.panel {
	border: 1px solid #CDCDCD;
	box-shadow: 0 1px 3px rgba(100, 100, 100, 0.1);
	margin-bottom: 15px;
	border-radius: 3px 3px 0 0;
	overflow: visible;
	/*position: relative;*/
}
.panel-header {
	padding: 6px 15px;
	background-color: #F8F8F8;
	background-image: -moz-linear-gradient(top, #FDFDFD, #F6F6F6);
	background-image: -ms-linear-gradient(top, #FDFDFD, #F6F6F6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #FDFDFD, #F6F6F6);
	background-image: -o-linear-gradient(top, #FDFDFD, #F6F6F6);
	background-image: linear-gradient(top, #FDFDFD, #F6F6F6);
	border-bottom: 1px solid #E4E4E4;
	color: #555;
	text-shadow: 0 1px 0 white;
	font-size: 14px;
	font-weight: bold;	
}

.panel-content {
	background-color: #fff;
	padding: 15px;
}
.panel-login {
	width: 80%;
	text-align: center;
}
.panel-error {
	margin-top: 40px;
	text-align: center;
}
.panel-error .icon-warning-sign {
	color: #da4f49;
	margin-right: 60px;
}
.panel-error h1 {
	font-size: 100px;
}
.panel-error h2 {
	margin-bottom: 40px;
}
.panel-sidebar {
	background-color: #f1f1f1;
	box-shadow: 0 2px 3px rgba(100, 100, 100, 0.1);
	margin-bottom: 15px;
	overflow: visible;
	position: relative;	
}
.row-panel {
	background-color: #ffffff;
}

/* Lists and Tabs */
.nav-tabs {
	margin-bottom: 0;
}
.list-content .nav-tabs > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.list-content [class^="icon-"] {
	vertical-align: baseline;
}
.tab-pane {
	border: 1px solid #ddd;
}
.list-pane {
	padding: 5px;
}
.list-pagination span {
	margin: 0 20px;
}
.tab-content > .active, .pill-content > .active {
	display: block;
	margin-top: -1px;
}

/* Buttons */
.btn-default {
	color: #5E9F68;
}
.btn-default:hover {
	color: #5E9F68;
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#627aad), to(#3b5998));
  background-image: -moz-linear-gradient(top, #627aad, #3b5998);
  background-image: -ms-linear-gradient(top, #627aad, #3b5998);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627aad), color-stop(100%, #3b5998));
  background-image: -webkit-linear-gradient(top, #627aad, #3b5998);
  background-image: -o-linear-gradient(top, #627aad, #3b5998);
  background-image: linear-gradient(top, #627aad, #3b5998);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627aad', endColorstr='#3b5998', GradientType=0);
  border-color: #3b5998 #3b5998 #263961;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-twitter {
  background-color: #4099ff;
  *background-color: #4099ff;
  background-image: -ms-linear-gradient(top, #7eb6f7, #4099ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7eb6f7), to(#4099ff));
  background-image: -webkit-linear-gradient(top, #7eb6f7, #4099ff);
  background-image: -o-linear-gradient(top, #7eb6f7, #4099ff);
  background-image: -moz-linear-gradient(top, #7eb6f7, #4099ff);
  background-image: linear-gradient(top, #7eb6f7, #4099ff);
  background-repeat: repeat-x;
  border-color: #4099ff #4099ff #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7eb6f7', endColorstr='#4099ff', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-google {
  background-color: #d74c2f;
  *background-color: #d74c2f;
  background-image: -ms-linear-gradient(top, #dd634b, #d74c2f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd634b), to(#d74c2f));
  background-image: -webkit-linear-gradient(top, #dd634b, #d74c2f);
  background-image: -o-linear-gradient(top, #dd634b, #d74c2f);
  background-image: -moz-linear-gradient(top, #dd634b, #d74c2f);
  background-image: linear-gradient(top, #dd634b, #d74c2f);
  background-repeat: repeat-x;
  border-color: #d74c2f #d74c2f #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dd634b', endColorstr='#d74c2f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  background-color: #3b5998;
  *background-color: #004ab3;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #004099 \9;
}

.btn-twitter:hover,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  background-color: #4099ff;
  *background-color: #004ab3;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #004099 \9;
}

.btn-google:hover,
.btn-google:active,
.btn-google.active,
.btn-google.disabled,
.btn-google[disabled] {
  background-color: #d74c2f;
  *background-color: #004ab3;
}

.btn-google:active,
.btn-google.active {
  background-color: #004099 \9;
}

.btn-facebook,
.btn-facebook:hover,
.btn-twitter,
.btn-twitter:hover,
.btn-google,
.btn-google:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-facebook.active,
.btn-twitter.active,
.btn-google.active {
  color: rgba(255, 255, 255, 0.75);
}

.sidebar-button .btn {
	width: 100%;
	font-size: 20px;
	margin-bottom: 15px;
}

/* Sign In / Register */
.container-signin input[type=text], .container-signin input[type=password], .container-register input[type=text], .container-register input[type=password] {
	font-family: 'Open Sans';
	font-size: 13px;
	padding: 10px;
	width: 220px;
	box-shadow: inset 1px 1px 2px #ececec;	
}
.container-signin .input-prepend .add-on, .container-signin .input-append .add-on, .container-register .input-prepend .add-on, .container-register .input-append .add-on {
	display: inline-block;
	width: auto;
	height: 18px;
	min-width: 16px;
	padding: 10px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	vertical-align: middle;
	background-color: #EEE;
	border: 1px solid #CCC;
	box-shadow: inset 1px 1px 2px #ececec;
}
.container-signin, .container-register {
	width: 330px;
	margin: 40px auto 0 auto;
}
.signin-remember {
	margin-left: 20px;
	font-size: 11px;
}

/* General */
.text-small {
	font-size: 11px;
}

.panel-chart {
	width: 100%;
	height: 300px;
}

.btn-toolbar .dropdown-menu li > a:hover,
.btn-toolbar .dropdown-menu .active > a,
.btn-toolbar .dropdown-menu .active > a:hover {
	background-color: #5E9F68;
}

.btn-toolbar .nav-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: -15px;
}

.btn-toolbar li + .nav-header {
	margin-top: 9px;
}

div.divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.red {
	color: #da4f49;
}
.green {
	color: #5bb75b;
}

/* DataTables */
div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	/* margin-bottom: 6px !important;*/
	max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

/* Tables */
.panel-tables {
	padding: 0;
}
.panel-tables .table tr th:first-child, .panel-tables .table tr td:first-child {
	border-left: none;
}
.panel-tables table {
	margin-bottom: 0;
	border: none;
}
.table td {
	vertical-align: middle;
}

/* Change the hover color on standard tables */
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #d9edf7;
}

/* Form Validation - dupe the error styling for jquery validation classes */
label.valid {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	color: #62c462;
	margin-top: 6px;
}
label.valid i {
	color: #62c462;
}
label.error {
	font-weight: bold;
	color: #b94a48;
	padding: 2px 8px;
	margin-top: 2px;
}

.t-center {
	text-align:center;
}

.row-index {
	margin-left:40px;
}

.row-single {
	margin-left:0px;
}

.span-right {
	margin-left:60px;
}

.panel-content .ibox {
    border-bottom: 1px dotted #E2E2E2;
    height: 28px;
    line-height: 34px;
    overflow: hidden;
    word-break: break-all;
}

.info-content {
	margin-left:10px;
	margin-right:10px;
}

.row-single {
	
}

.percent_div {position:relative;text-align:left; height:30px;line-height:30px;}
.increase_div {position:absolute;background-color:#90ee90;}
.increase_div_1 {position:absolute;background-color:#87CEFA;}
.decrease_div {position:absolute;background-color:#f08080;}
.percent_content {position:relative;text-align:center;}