input,select,textarea{ font-size:12px; vertical-align:middle; color:#6a6e89; }


a {outline: none;}
a img {outline: none; border: none;}
img a {outline: none; border: none;}

p a:link {border-bottom: 1px dotted #444;color: #444;outline: medium none;text-decoration: none;}
p a:hover {color:#ccc; text-decoration: none; outline: medium none;}  /* mouse over link */


.clr {clear:both;}
.facebook {float:left;}
.social-media {
	margin: 0px auto 0;
	text-align: left;
	width:200px;
}

.small-logo {
	height:26px;
	margin-top:1px;
    float: left;
	margin-left:155px;
}

/*header*/
.codrops-top{
	height: 27px;
	font-size: 10px;
	z-index: 9999;
	position: relative;
	background:#fff url(../images/head_bg.jpg) repeat top left;
}
.codrops-top a{
	letter-spacing: 1px;
	color: #aaa;
	text-decoration: none;
}
.codrops-top div.right{
	float: right;
	width:200px;
	margin-top:3px;
}

.tooltip {
			outline: none;
			text-decoration: none;
			position: relative;
		}
.tooltip span {
	margin-left: -999em;
	position: absolute;
	white-space: nowrap;
}
.tooltip:hover span {
	border-radius: 2px 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; 
	color: #ffffff;
	font-family: 'Muli', san-serif;
	text-transform:none;
	font-size: 10px; line-height: 16px;
	position: absolute; top: 35px; z-index: 99;
	margin-left: -50px;
}


.tooltip:hover img {
	border: 0; 
	float: left; 
	width:40px;
}
.tooltip:hover em {
	
	display: block; padding: 30px 0 0 0;
}

.classic { padding:2px 16px; }
* html a:hover { background: transparent; }
.classic {background:#333333; }

#clock {width:45px;font-size:12px}

/*Nav*/

.cc_menu{
	width:100%; /*140px * 5*/
	height:45px;
	position:relative;
	font-size:12px;
	background:#444 url(../images/nav_bg.jpg) repeat top left;
	color:#fff;
}
.cc_item_left {
	float:left;
	width:50px;
	height:40px;
	position:relative;
}

.cc_item{
	text-align:center;
	width:110px;
	height:40px;
	float:left;
	position:relative;
}
span.cc_title{
	color:#444444;
	background: #E6E8FA url("../images/nav_head.png");
	font-size:12px;
	font-weight:700;
	top:12px;
	left:5px;
	position:absolute;
	padding:3px 0px;
	width:100px;
	height:20px;
	line-height:20px;
	display:block;
	z-index:11;
	cursor:pointer;
	text-align: center;

}

.cc_item img{
	position:absolute;
	width:140px;
	height:600px;
	top:-600px;
	left:0px;
}
.cc_content{
	width:600px;
	height:600px;
	border-bottom:1px solid #000;
	position:absolute;
	left:-700px;
	background:#444 url(../images/bg.png) repeat top left;
	overflow:hidden;
	-moz-box-shadow:4px 0 7px #000;
	-webkit-box-shadow:4px 0 7px #000;
	box-shadow:4px 0 7px #000;
}
.cc_content div{
	display:none;
	margin:20px;
}
.cc_content p{
	background:#000;
	padding:20px;
	opacity:0.7;
}
span.cc_back{
	position:absolute;
	bottom:10px;
	right:10px;
	cursor:pointer;
	color:#ddd;
}

.cc_submenu {
	text-align:left;
	color:#000;
	position:absolute;
	top:43px;
	left:5px;
	width:164px;
	border:1px solid #ADD8E6;
	display:none;
}

.nav_on {
	height:25px;
	border-top:1px solid #ADD8E6;
	border-left:1px solid #ADD8E6;
	border-right:1px solid #ADD8E6;
}

.nav_leave{
	height:20px;
	border-top:2px solid #ADD8E6;
	border-left:2px solid #ADD8E6;
	border-right:2px solid #ADD8E6;
	border-bottom:2px solid #ADD8E6;
}

.menu ul {
	border:2px solid #ADD8E6;
	width:160px;
}

.c_right{float:right;width:200px;color:#E6E8FA;margin-top:12px;}
.c_right a{color:#483d8b;}
.module_path{ height:25px; padding-top:5px; padding-left:65px; color:#E6E8FA; background:url(../images/nav_bg_mm.jpg) repeat; text-align:left; position:relative}
.module_config {height:35px; background:url(../images/nav_bg_mm.jpg) repeat;display:block;padding-top:5px;}
.module_path_bottom {height:5px; background:url(../images/nav_bg_bottom.jpg) repeat;}
.module_config_table {margin-left:89px}
.module_config_table tr {color:E6E8FA}
#ui-datepicker-div{font: 90% Verdana,Arial,sans-serif,"Times New Roman",ו; font-size:10px}

#centerMain{ width:100%; overflow:auto;}
.sec_nav {float:left;}
.sec_nav_null{float:left; width:30px;}
.sec_nav a {color:#483d8b;}
.config_nav_left {float:left;width:50px;}
.grey_bg {background:#F2EEEE;}
#copyright{height:25px; line-height:25px; width:100%; font-weight:700;font-family:Cambria, Georgia, serif; font-size: 12px;color:#E6E8FA;text-align:center; clear:both; /*background:url(../images/stripe.gif) repeat;*/ background:url("../images/footer_bg.jpg") repeat-x scroll #111111}
.footer{height:25px; line-height:25px; width:100%; font-weight:700;color:#E6E8FA;text-align:center; clear:both; /*background:url(../images/stripe.gif) repeat;*/ background:url("../images/footer_bg.jpg") repeat-x scroll #111111}


.rq {color:red;}
form .form_table th {padding-right:20px;font-weight:400; text-align: right ;vertical-align: top;}
.form_left {width:180px;height:40px;line-height:40px;}
.form_right {height:40px;line-height:40px;text-align: left;}
.form_submit {height:34px;line-height:40px;padding-top:6px;}
.model { 	clear:both; }
.method_model{ 	padding-left:80px;}


.center_div {width:92%; margin:auto;}
.center_div_info {width:82%; margin:auto;}
.chart_content {margin-top:20px;width:82%;float:left}
.center_chart {width:97%; margin:auto;height:380px;}
.center_map {width:90%; margin:auto;height:500px;}
.chart {min-width: 400px; height: 360px; margin-top:20px; float:left; width:98%;}
.chart_table_div {width:93%; margin:auto;}
.page_info {float:left;width:17%;margin-top:40px;height:300px;}
.log_total {background-color:#ffa500;width:92%;height:28px;line-height:28px;margin-top:15px;}
.log_info {background-color:#add8e6;width:92%;height:28px;line-height:28px;font-size:10px;word-break: break-all;overflow: hidden;}
.log_info_head {background-color:#1e90ff;width:92%;height:28px;line-height:28px;margin-top:15px;}
.model_explain_title {background-color:#1e90ff;width:92%;height:28px;line-height:28px;margin-top:5px;}
.model_explain {background-color:#add8e6;width:92%;height:auto;px;line-height:24px;font-size:12px; table-layout:fixed; word-break: break-all;}
.tagimg {height:16p;position:relative;top:3px;}

.current_max{background-color:#32cd32;width:92%;height:28px;line-height:28px;margin-top:5px;}
.current_max_content{background-color:#adff2f;width:92%;height:28px;line-height:28px;font-size:10px;}

.yesterday_max{background-color:#ff69b4;width:92%;height:28px;line-height:28px;margin-top:5px;}
.yesterday_max_content{background-color:#ffb6c1;width:92%;height:28px;line-height:28px;font-size:10px;}

.week_max{background-color:#4572A7;width:92%;height:28px;line-height:28px;margin-top:5px;}
.week_max_content{background-color:#6495ed;width:92%;height:28px;line-height:28px;font-size:10px;}


.percent_div {position:relative;text-align:left;}
.increase_div {position:absolute;background-color:#90ee90;}
.increase_div_1 {position:absolute;background-color:#87CEFA;}
.decrease_div {position:absolute;background-color:#f08080;}
.percent_content {position:relative;text-align:center;}
.login{background-image: url("../images/login.png") ; background-repeat:no-repeat;width:525px; height:350px; margin-top: 120px;  }
.login_table{ margin-left: 130px; padding-top:100px; margin-top:100px;}
.login_table td{ height:30px; line-height: 30px;}
.login_table input{ height:24px; line-height: 30px; }
#manage_tag{cursor: pointer;}
.explain_left {float:left;width:300px}
.explain_right {float:right;width:40px;}
.explain_right img {cursor:pointer;height:16px;position:relative;top:5px;}
.submit{  }

.max_block {height:24px}
.max_block div{float:left;}
.block {width:16px;height:16px;line-height:24px;margin-top:4px;}
.block_explain {width:120px;margin-left:20px;line-height:24px;height:24px;text-align:right;}
.block_time {width:300px;margin-left:20px;line-height:24px;height:24px;text-align:left;}

.post {-moz-border-radius-bottomright: 8px; border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-left-radius: 8px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
.type-post {PADDING-BOTTOM: 15px; WIDTH: 460px; DISPLAY: inline; MARGIN-BOTTOM: 30px; BACKGROUND: #FEFEFE; FLOAT: left;border:1px solid #eeeeee;color:#666666;}
.stumblr-title {PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND: #f0f8ff; HEIGHT: 30px;}
.stumblr-title H2 {PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; TEXT-TRANSFORM: uppercase; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 13px; font-weight:700; PADDING-TOP: 0px}
.stumblr-content {WIDTH: 380px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 35px;margin-top:10px;}
.stumblr-content div{height:28px;line-height:28px;BORDER-BOTTOM: #e2e2e2 1px dotted;word-break: break-all;overflow: hidden;}
.stumblr-meta {MARGIN-TOP: 15px; WIDTH: 380px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 35px; BORDER-TOP: #e2e2e2 1px dotted;}
.stumblr-meta P {PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; MARGIN: 5px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;}
.center_div_block {width:96%;margin:auto;}
.map_level {height:24px;line-height:24px;}
.map_level div {float:left;}
.level_info {height:24px; line-height:24px; width:180px;margin-left:6px;font-weight:700;}
.search_bar {float:right;width:360px;height:40px;}
.search_bar div {float:left;}
.pro_img {width:20px; height:16px;float:left;margin-top:3px;}
.pro_title {width:200px;float:left}
.table_list_type{padding-left:20px;}
.help_table {cursor:pointer}
.manage_img {position:relative;top:3px;}
.toggle_img {position:relative;top:3px;}

.toggle_up, .toggle_down, .helpBtn{
	float:left;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../images/toggle.gif) no-repeat; 
}
.toggle_up{background-position:0px 0px;}
.toggle_down{background-position:-16px 0px;}
.operate_img {width:30px; float:right}

.select-box {
	/*background-image: url("../images/indicator.png");*/
	margin-left:50px; 
	border: 1px solid #DADADA;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px 3px 10px;
	float:left;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -o-linear-gradient(bottom, #eee 0%, #fff 50%);
    background-image: -ms-linear-gradient(top, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%);
}

.select-box1 {
	background-image: url("../images/indicator.png");
	border: 1px solid #DADADA;
    cursor: pointer;
    padding: 5px 10px 5px 10px;}
.select-box1:hover {
	background:none repeat scroll 0 0 #F6F6F6;
}
.select-box:hover {
	background:none repeat scroll 0 0 #F6F6F6;
}
.select-box .selecttoggle_down {
	padding : 0 10px 0 0;
	background-image: url("../images/select.png");
	background-position: -3px 17px;;
}
.select-box .selecttoggle_up {
	padding : 0 10px 0 0;
	background-image: url("../images/select.png");
	background-position: -3px 0px;;
}
.up_toggle {
	background:none repeat scroll 0 0 #F6F6F6;
}
.boxs .one_choose{
	float:left;width:120px;padding:5px 0px 5px 5px;
}
.boxs .one_choose_1{
	float:left;width:135px;padding:5px 0px 5px 5px;overflow:hidden;word-break:break-all;white-space:nowrap;
}
.box_ok_but {
	float:right;width:80px;margin-top:10px;
}
.product {
	width:280px;
	height:85px;
	background:#fff url(../images/product.png);
	margin-left : 80px;
	float:left;
	margin-top:40px;
	cursor:pointer;
}


.choose_product {padding-top:50px;padding-left:100px;}

.m3logo {
	margin-top:20px;
	margin-left:30px;
	width:46px;
	height:46px;
	/*background:#fff url(../images/m3logo.jpg);*/
	float:left
}

.m3_product {
	float:right;
	width:180px;
	margin-top:20px;
	font-size:18px;
	font-weight:700;
	height:46px;
	line-height:46px;
}
.copyright{ height:25px;
			line-height:25px; 
			width:100%;
			text-align:center; 
			color:#E6E8FA;
			text-align:center; 
			clear:both; 
			/*background:url(../images/stripe.gif) repeat;*/ 
			background:url("../images/footer_bg.jpg") repeat-x scroll #111111;
			font-size:12px;
			font-weight:700; 
			position:absolute;
			top:100%; 
			left:50%; 
			margin:-27px 0 0 -50%;}

.separator {
    border-top: 1px dotted #E4E4E4;
    clear: both;
    height: 0;
    margin: 4px auto;
    overflow: hidden;
    width: 100%;
}
.bg_table{
	background-color : #F0FFFF;
}
.tt_table {font-weight:700;}

.green {color : #008000}
.red {color : #FF0000}
.grey {color : #808080}