
#pcont {
  margin-left: 216px;
  position: relative;
}
#pcont.container-fluid {
  padding: 0;
}


.cl-mcont.aside {
  padding: 0;
  display: table;
  height: 100%;
}
.cl-mcont.aside > .content {
  vertical-align: top;
  display: table-cell;
  width: 100%;
}
.page-aside {
  background: none repeat scroll 0 0 #FFFFFF;
  width: 302px;
  height: 100%;
  position: relative;
  display: table-cell;
  border-right: 1px solid #E9E9E9;
  vertical-align: top;
}
.page-aside > div {
  width: 302px;
}
.page-aside div.fixed {
  position: fixed;
  height: 100%;
}
.page-aside div.content {
  padding: 20px 20px;
}
@media (max-width: 767px) {
  .page-aside {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
  }
  .page-aside div.fixed {
    width: 100%;
    display: block;
    position: relative;
  }
}
/*Profile menu*/
.profile_menu {
  margin-left: 10px;
  cursor: pointer;
}
.not-nav {
  margin: 0 !important;
}
.user-nav {
  margin: 0;
  margin-right: -15px;
}
.profile_menu .dropdown-toggle {
  padding: 17px 10px;
}
.profile_menu img {
  margin-right: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
/*END - Profile menu*/
/*BODY*/
.cl-mcont .row {
  margin-top: 20px;
}
.cl-mcont .col-lg-6 {
  padding: 0 15px;
}
body.boxed {
  background-color: #d0d0d0;
}
body.boxed #cl-wrapper {
  width: 92%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: #F0F0F0;
}

.cl-mcont {
  color: inherit;
  font-weight: 200;
  line-height: 21px;
  margin-top: 0;
}
.cl-mcont.white {
  background: #fff;
}
.cl-mcont h1 {
  line-height: 1.3em;
}


/*End Collapsed*/
.cl-vnavigation li a i {
  text-align: center;
  width: 20px;
  font-size: 14px;
  margin-right: 7px;
}
.cl-vnavigation li a span {
  display: inline-block;
}
.cl-vnavigation li ul {
  background-color: #1d1f26;
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}
.cl-vnavigation .parent ul li {
  list-style: none;
}
.cl-vnavigation .parent ul li.dropdown-header {
  display: none;
}
.cl-vnavigation .parent ul li a {
  font-size: 12px;
  background-image: none;
  padding: 7px 18px 7px 42px;
}
.cl-vnavigation .parent ul li.active a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 2px solid #7761a7;
}
.cl-vnavigation .parent ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.cl-vnavigation .parent ul li a:first-child {
  border-top: 0;
}
.cl-vnavigation .active > a {
  background: #2A2C34;
  border-left: 2px solid #7761a7;
}
.cl-vnavigation .selected:hover a {
  background-color: #2494F2;
}
.cl-vnavigation .selected:hover ul a {
  background-color: #1A1C20;
}
body {
  height: 100%;
}
/*
.cl-sidebar{
  min-height:100%;
}*/
body.animated #cl-wrapper {
  margin-left: -15px;
  transition: margin-left 600ms ease, opacity 600ms;
}
.animated {
	padding-top:0px;
}
#cl-wrapper {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}
.cl-sidebar {
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 49px;
}
#pcont {
  display: table-cell;
  vertical-align: top;
}

/*Todo Widget*/
.list-group.todo .list-group-item {
  font-size: 13px;
  border: 0;
  margin-bottom: 10px;
  background: #FFF;
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #EFEFEF;
  border-radius: 3px;
  border-right: 1px solid #EFEFEF;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  padding: 13px 15px;
}
.list-group.todo .list-group-item .date {
  font-size: 12px;
  float: right;
}
.tree > div {
  /* overflow: auto; */
}
.tree .content {
  padding: 0 !important;
}
.tree .title {
  padding: 20px;
}
.treeview label {
  font-weight: 400;
  margin: 0;
  padding: 7px 18px;
  display: block;
  border-bottom: 0px solid #E5E5E5;
}
.treeview label:hover,
.treeview label.open {
  background: #F9F9F9;
}
.treeview li > ul {
  display: none;
}
.treeview li.open > ul {
  display: block;
}
.treeview ul li {
  border-bottom: 0px solid #E5E5E5;
}
.treeview ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #6A788D;
}
.treeview ul li a:hover {
  background: #F9F9F9;
}
.treeview label i {
  font-size: 14px;
  text-align: center;
  width: 24px;
  color: #2090d8;
}
.treeview ul li label {
  padding-left: 36px;
}
.treeview ul li ul li label {
  padding-left: 54px;
}
.treeview ul li ul li ul li label {
  padding-left: 72px;
}
.treeview ul li ul li ul li ul li label {
  padding-left: 90px;
}
.treeview ul li a {
  padding-left: 36px;
}
.treeview ul li ul li a {
  padding-left: 54px;
}
.treeview ul li ul li ul li a {
  padding-left: 72px;
}
.treeview ul li ul li ul li a {
  padding-left: 90px;
}
.treeview .tree-toggler {
  cursor: pointer;
}

}