
.footable { color:#4f607b; font-size:12px; }
.footable > thead > tr {  }
.footable > thead > tr > th { border:1px solid #cad1dd; background-color:#eef1f7; padding:10px 5px; line-height:24px; text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); }
.footable > thead > tr > th.footable-sortable { cursor:pointer; }
.footable > thead > tr > th.footable-sortable > .footable-sort-indicator { float:right; display:block; width:15px; height:24px; background:url('images/sorting_sprite.png') no-repeat 0 0; }
.footable > thead > tr > th.footable-sorted {  }
.footable > thead > tr > th.footable-sorted > .footable-sort-indicator { background-position:0 -24px; }
.footable > thead > tr > th.footable-sorted-desc {  }
.footable > thead > tr > th.footable-sorted-desc > .footable-sort-indicator { background-position:0 -48px; }
.footable > tbody > tr {  }
.footable > tbody > tr > td { border:1px solid #e8ecf2; padding:5px; line-height:24px; text-align:center; }
.footable > tbody > tr:hover { background: none repeat scroll 0 0 #fbf8e9; }
.footable > tbody > tr:hover > td {  }

.footable.breakpoint > tbody > tr > td.expand { background:url('images/plus.png') no-repeat 5px 50%; padding-left:40px; }
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) { cursor:pointer; }
.footable.breakpoint > tbody > tr.footable-row-detail { background:#eee; }
.footable.breakpoint > tbody > tr.footable-detail-show > td.expand { background:url('images/minus.png') no-repeat 5px 50%; }

.footable > thead > tr > th.footable-first-column, .footable > tbody > tr > td.footable-first-column {  }







