@charset "utf-8";

/* 盒子属性 */
.borderbox *, .borderbox *:before, .borderbox *:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* 块元素水平居中 */
.block-center {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	*zoom:1;
}

/* 浮动 */
.pull-left {
	float:left !important;
}
.pull-right {
	float:right !important;
}

/* 元素框类型 */
.block {
	display:block !important;
}
.inline {
	display:inline !important;
}
.inline-block {
	display:inline-block !important;
}

/* 显示或隐藏元素 */
.show {
	display:block !important;
}
.hidden {
	display:none !important;
}
.invisible {
	visibility:hidden !important;
}

/* 鼠标类型 */
.cursor-auto {
	cursor:auto;
}
.cursor-default {
	cursor:default;
}
.cursor-pointer {
	cursor:pointer;
}

/* 圆角 */
.box-square {
	border-radius:0;
}
.box-radius {
	border-radius:2px;
}
.box-round {
	border-radius:1000px;
}
.box-circle {
	border-radius:50%;
}

/* 情景背景色 */
.bg-primary {
	background-color:#337ab7;
	color:#fff;
}
.bg-success {
	background-color:#dff0d8;
}
.bg-info {
	background-color:#d9edf7;
}
.bg-warning {
	background-color:#fcf8e3;
}
.bg-danger {
	background-color:#f2dede;
}

/* 外边距 */
.margin-none {
	margin:0 !important;
}
.margin-xs {
	margin:5px !important;
}
.margin-sm {
	margin:10px !important;
}
.margin-lg {
	margin:15px !important;
}
.margin-xl {
	margin:20px !important;
}
.margin-xxl {
	margin:25px !important;
}
.margin-top-none {
	margin-top:0 !important;
}
.margin-top-xs {
	margin-top:5px !important;
}
.margin-top-sm {
	margin-top:10px !important;
}
.margin-top-lg {
	margin-top:15px !important;
}
.margin-top-xl {
	margin-top:20px !important;
}
.margin-top-xxl {
	margin-top:25px !important;
}
.margin-right-none {
	margin-right:0 !important;
}
.margin-right-xs {
	margin-right:5px !important;
}
.margin-right-sm {
	margin-right:10px !important;
}
.margin-right-lg {
	margin-right:15px !important;
}
.margin-right-xl {
	margin-right:20px !important;
}
.margin-right-xxl {
	margin-right:25px !important;
}
.margin-bottom-none {
	margin-bottom:0 !important;
}
.margin-bottom-xs {
	margin-bottom:5px !important;
}
.margin-bottom-sm {
	margin-bottom:10px !important;
}
.margin-bottom-lg {
	margin-bottom:15px !important;
}
.margin-bottom-xl {
	margin-bottom:20px !important;
}
.margin-bottom-xxl {
	margin-bottom:25px !important;
}
.margin-left-none {
	margin-left:0 !important;
}
.margin-left-xs {
	margin-left:5px !important;
}
.margin-left-sm {
	margin-left:10px !important;
}
.margin-left-lg {
	margin-left:15px !important;
}
.margin-left-xl {
	margin-left:20px !important;
}
.margin-left-xxl {
	margin-left:25px !important;
}

/* 内边距 */
.padding-none {
	padding:0 !important;
}
.padding-xs {
	padding:5px !important;
}
.padding-sm {
	padding:10px !important;
}
.padding-lg {
	padding:15px !important;
}
.padding-xl {
	padding:20px !important;
}
.padding-xxl {
	padding:25px !important;
}
.padding-top-none {
	padding-top:0 !important;
}
.padding-top-xs {
	padding-top:5px !important;
}
.padding-top-sm {
	padding-top:10px !important;
}
.padding-top-lg {
	padding-top:15px !important;
}
.padding-top-xl {
	padding-top:20px !important;
}
.padding-top-xxl {
	padding-top:25px !important;
}
.padding-right-none {
	padding-right:0 !important;
}
.padding-right-xs {
	padding-right:5px !important;
}
.padding-right-sm {
	padding-right:10px !important;
}
.padding-right-lg {
	padding-right:15px !important;
}
.padding-right-xl {
	padding-right:20px !important;
}
.padding-right-xxl {
	padding-right:25px !important;
}
.padding-bottom-none {
	padding-bottom:0 !important;
}
.padding-bottom-xs {
	padding-bottom:5px !important;
}
.padding-bottom-sm {
	padding-bottom:10px !important;
}
.padding-bottom-lg {
	padding-bottom:15px !important;
}
.padding-bottom-xl {
	padding-bottom:20px !important;
}
.padding-bottom-xxl {
	padding-bottom:25px !important;
}
.padding-left-none {
	padding-left:0 !important;
}
.padding-left-xs {
	padding-left:5px !important;
}
.padding-left-sm {
	padding-left:10px !important;
}
.padding-left-lg {
	padding-left:15px !important;
}
.padding-left-xl {
	padding-left:20px !important;
}
.padding-left-xxl {
	padding-left:25px !important;
}

/* 单行文本截断 */
.text-ellipsis {
	word-wrap:normal;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

/* 强制文本换行 */
.text-break {
	word-break:break-all;
	word-wrap:break-word;
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	hyphens:auto;
}

/* 强制文本不换行 */
.text-nowrap {
	white-space:nowrap;
}

/* 垂直对齐 */
.vertical-align {
	font-size:0;
}
.vertical-align:before {
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.vertical-align-top, .vertical-align-middle, .vertical-align-bottom {
	display:inline-block;
	max-width:100%;
	font-size:12px;
}
.vertical-align-top {
	vertical-align:top;
}
.vertical-align-middle {
	vertical-align:middle;
}
.vertical-align-bottom {
	vertical-align:bottom;
}

/* 文本水平对齐 */
.text-left {
	text-align:left !important;
}
.text-right {
	text-align:right !important;
}
.text-center {
	text-align:center !important;
}
.text-justify {
	text-align:justify !important;
}

/* 文本垂直对齐 */
.text-top {
	vertical-align:top !important;
}
.text-middle {
	vertical-align:middle !important;
}
.text-bottom {
	vertical-align:bottom !important;
}

/* 文本颜色 */
.text-primary {
	color:#0e90d2;
}
.text-success {
	color:#5eb95e;
}
.text-info {
	color:#3bb4f2;
}
.text-warning {
	color:#f37b1d;
}
.text-danger {
	color:#dd514c;
}

/* 文本大小 */
.text-xs {
	font-size:12px;
}
.text-sm {
	font-size:14px;
}
.text-default {
	font-size:16px;
}
.text-lg {
	font-size:18px;
}
.text-xl {
	font-size:24px;
}
.text-xxl {
	font-size:32px;
}
.text-xxxl {
	font-size:42px;
}

/* 文本粗细 */
.text-bold {
	font-weight:600;
}
.text-thin {
	font-weight:400;
}

/* 字体 */
.sans-serif {
	font-family:"Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif; /* 非衬线字体 */
}
.serif {
	font-family:Georgia, "Times New Roman", Times, SimSun, FontAwesome, serif; /* 衬线字体，中文为宋体 */
}
.kai {
	font-family:Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, FontAwesome, serif; /* 英文衬线字体，中文为楷 */
}
.monospace {
	font-family:Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace; /* 等宽字体 */
}

/* 链接颜色减淡 */
.link-muted, .link-muted a {
	color:#666;
}

/* 图片上下居中 */
.img-middle {
	display:table-cell; *display:block; text-align:center; vertical-align:middle; *vertical-align:auto; *line-height:0; *font-family:Arial; /* font-size:(height*0.873)px; */
}
.img-middle img {
	vertical-align:middle;
}
