@charset "utf-8";

body { background-color:#f4f7fa; color:#4f5a6d; font:12px/1 verdana, 'microsoft yahei'; }

/* dh-line */
.dh-line { height:0; border-top:1px solid #dbdfe5; border-bottom:1px solid #fff; margin:0; overflow:hidden; }

/* dh-2columns */
.dh-2columns { table-layout:fixed; width:100%; }
.dh-2columns-left, .dh-2columns-right { vertical-align:top; }
.dh-2columns-left { width:auto; }
.dh-2columns-right { width:300px; }

/* dh-notification */
.dh-notification { border-radius:2px; border:1px solid #c7cedb; background-color:#eef1f7; margin-bottom:10px; padding:10px; color:#6a788d; font-size:12px; }
.dh-notification .close { float:right; cursor:pointer; font-family:verdana; font-weight:700; }
.dh-notification .title { background-image:url(ui/components/notification/icon.png); background-repeat:no-repeat; background-position:0 -9px; margin-bottom:5px; padding-left:26px; line-height:1.5; font-size:14px; font-weight:700; }
.dh-notification .content { line-height:1.5; }
.dh-notification:hover { border-color:#b4bdcd; }
.dh-notification-info { border-color:#a8d7e2; background-color:#d9edf7; color:#3a87ad; }
.dh-notification-info .close {  }
.dh-notification-info .title { background-position:0 -50px; }
.dh-notification-info .content {  }
.dh-notification-info:hover { border-color:#8dc1db; }
.dh-notification-warn { border-color:#e3cfa8; background-color:#fcf8e3; color:#c09853; }
.dh-notification-warn .close {  }
.dh-notification-warn .title { background-position:0 -90px; }
.dh-notification-warn .content {  }
.dh-notification-warn:hover { border-color:#d0b98d; }
.dh-notification-success { border-color:#b7d49e; background-color:#dff0d8; color:#468847; }
.dh-notification-success .close {  }
.dh-notification-success .title { background-position:0 -129px; }
.dh-notification-success .content {  }
.dh-notification-success:hover { border-color:#9bbc80; }
.dh-notification-error { border-color:#deb4b9; background-color:#f3e0e0; color:#b94a48; }
.dh-notification-error .close {  }
.dh-notification-error .title { background-position:0 -169px; }
.dh-notification-error .content {  }
.dh-notification-error:hover { border-color:#ca909d; }
/* dh-notification-mini */
.dh-notification-mini { border-radius:2px; border:1px solid #c7cedb; background-color:#eef1f7; margin-bottom:10px; padding:10px; color:#6a788d; font-size:12px; }
.dh-notification-mini .close { float:right; cursor:pointer; font-family:verdana; font-weight:700; }
.dh-notification-mini .title { background-image:url(ui/components/notification/icon.png); background-repeat:no-repeat; background-position:0 -11px; margin-right:5px; padding:2px 0 2px 26px; line-height:1.5; font-weight:700; }
.dh-notification-mini .content { line-height:1.5; }
.dh-notification-mini:hover { border-color:#b4bdcd; }
.dh-notification-mini-info { border-color:#a8d7e2; background-color:#d9edf7; color:#3a87ad; }
.dh-notification-mini-info .close {  }
.dh-notification-mini-info .title { background-position:0 -51px; }
.dh-notification-mini-info .content {  }
.dh-notification-mini-info:hover { border-color:#8dc1db; }
.dh-notification-mini-warn { border-color:#e3cfa8; background-color:#fcf8e3; color:#c09853; }
.dh-notification-mini-warn .close {  }
.dh-notification-mini-warn .title { background-position:0 -91px; }
.dh-notification-mini-warn .content {  }
.dh-notification-mini-warn:hover { border-color:#d0b98d; }
.dh-notification-mini-success { border-color:#b7d49e; background-color:#dff0d8; color:#468847; }
.dh-notification-mini-success .close {  }
.dh-notification-mini-success .title { background-position:0 -130px; }
.dh-notification-mini-success .content {  }
.dh-notification-mini-success:hover { border-color:#9bbc80; }
.dh-notification-mini-error { border-color:#deb4b9; background-color:#f2dede; color:#b94a48; }
.dh-notification-mini-error .close {  }
.dh-notification-mini-error .title { background-position:0 -170px; }
.dh-notification-mini-error .content {  }
.dh-notification-mini-error:hover { border-color:#ca909d; }