@charset "utf-8";

html, body { height:100%; overflow:hidden; }

body { color:#464f5d; font:12px/1 verdana, 'microsoft yahei'; }

input { font-family:verdana, 'microsoft yahei'; }

/* #head */
#head { position:relative; z-index:2; height:100px; border-top:4px solid #000; border-bottom:1px solid #3a3f4e; background:#2b232d url(../../images/views/index/bg-header.png) no-repeat 50% -104px; }
/* #head > #logo */
#logo { float:left; margin:28px 0 0 15px; }
/* #head > #nav */
#nav { position:absolute; top:10px; right:15px; height:80px; }
#nav div { position:absolute; top:0; left:-590px; width:600px; height:80px; }
#nav ul { position:absolute; top:16px; right:0px; height:44px; border-radius:5px; overflow:hidden; }
#nav ul li { float:left; height:44px; background-color:rgba(0,0,0,.5); margin-right:1px; line-height:44px; text-align:center; }
#nav ul span, #nav ul a { display:block; padding:0 20px; color:#fff; font-size:14px; }
#nav ul a:hover { background-color:rgba(0,0,0,1); }
#nav em { position:relative; display:block; height:80px; background:url(../../images/views/index/icon-user.png) no-repeat 0 0; padding-left:90px; line-height:80px; color:#fff; font-size:20px; }

/* #body */
#body { position:absolute; z-index:1; top:105px; bottom:40px; left:0; width:100%; height:auto; overflow:hidden; }

/* #side */
#side { position:absolute; top:0; left:0; z-index:1; width:220px; height:100%; border-right:1px solid #8e9ec0; background-color:#e8efff; }
/* #btnExpandSide & #btnCollapseSide */
#btnExpandSide { position:absolute; top:0; left:0; bottom:0; z-index:10; cursor:pointer; display:none; width:100%; background:#e8efff url(../../images/views/index/bg-expand.png) no-repeat 188px 64px; }
#btnExpandSide:hover {  }
#btnCollapseSide { position:absolute; top:13px; right:10px; cursor:pointer; width:24px; height:24px; background:url(../../images/views/index/bg-collapse.png) no-repeat 0 0; }
#btnCollapseSide:hover {  }
/* #side > #search */
#search { position:relative; z-index:3; border-bottom:1px solid #a3b1cd; background-color:#c0cfed; padding:8px 10px; }
#search input { width:188px; height:32px; border:1px solid #8e9ec0; background:#eff4ff url(../../images/views/index/icon-magnifier.png) no-repeat 174px -2px; margin:0; padding:0 5px; line-height:32px; color:#464f5d; font-size:12px; }
#search input:hover, #search input:focus { border-color:#8e9ec0; background-color:#fff; background-position:174px -36px; }
#suggest { position:absolute; top:47px; left:10px; display:none; width:198px; height:380px; border:1px solid #8e9ec0; background-color:#fff; }
#suggest:before { content:''; position:absolute; top:-10px; left:50%; display:block; border-right:9px solid transparent; border-bottom:9px solid #5d79ab; border-left:9px solid transparent; margin-left:-9px; }
#suggest:after { content:''; position:absolute; top:-9px; left:50%; display:block; border-right:9px solid transparent; border-bottom:9px solid #fff; border-left:9px solid transparent; margin-left:-9px; }
#suggest ul { padding:5px 0; }
#suggest li.divider { height:1px; background-color:#dbdfe5; margin:5px 0; overflow:hidden; }
#suggest span { display:block; height:36px; padding:0 10px; line-height:36px; font-weight:700; }
#suggest a { display:block; height:36px; padding:0 10px; line-height:36px; color:#464f5d; }
#suggest a:hover { background-color:#eef1f7; text-decoration:none; }
/* #side > #dashboard */
#dashboard { position:relative; z-index:2; height:50px; border-bottom:1px solid #a3b1cd; padding:0 10px; }
#dashboard i { float:left; display:block; width:16px; height:50px; background:url(../../images/views/index/icon-dashboard.png) no-repeat 0 50%; margin-right:10px; }
#dashboard em { float:left; display:block; height:50px; line-height:50px; font-size:14px; }
/* #side > #menu */
#menu { position:absolute; top:102px; bottom:0; left:0; z-index:1; width:100%; font-size:14px; }
#menu ul.grade0 { border-bottom:1px solid rgba(255,255,255,.5); }
#menu ul.grade0>li { position:relative; }
#menu ul.grade0>li>a { position:relative; display:block; height:40px; border-top:1px solid rgba(255,255,255,.5); border-bottom:1px solid #d5e1f9; background-color:rgba(255,255,255,0); overflow:hidden; text-decoration:none; line-height:40px; color:#464f5d; }
#menu ul.grade0>li>a:before { content:''; position:absolute; top:16px; right:202px; width:8px; height:8px; background-color:#8e9ec0; transition:width .2s ease-out; }
#menu ul.grade0>li.c0>a:before { background-color:#ff8406; }
#menu ul.grade0>li.c1>a:before { background-color:#5fb800; }
#menu ul.grade0>li.c2>a:before { background-color:#00a4eb; }
#menu ul.grade0>li.c3>a:before { background-color:#6c58c0; }
#menu ul.grade0>li.c4>a:before { background-color:#0084ff; }
#menu ul.grade0>li.c5>a:before { background-color:#e05032; }
#menu ul.grade0>li.c6>a:before { background-color:#7947d5; }
#menu ul.grade0>li.c7>a:before { background-color:#c6d313; }
#menu ul.grade0>li>a>em { display:block; padding:0 10px 0 28px; }
#menu ul.grade0>li>a>i { position:absolute; top:13px; right:10px; width:14px; height:14px; background:url(../../images/views/index/icon-plus1.png) no-repeat 50% 50%; }
#menu ul.grade0>li>a:hover:before { width:16px; }
#menu ul.grade0>li>a.on { border-bottom-color:#a9bee7; }
#menu ul.grade0>li>a.on i { background-image:url(../../images/views/index/icon-minus1.png); }
#menu ul.grade1 { display:none; }
#menu ul.grade1>li { position:relative; }
#menu ul.grade1>li>a { position:relative; display:block; height:40px; border-bottom:1px solid #a9bee7; background-color:#ccdcfd; overflow:hidden; text-decoration:none; line-height:40px; color:#464f5d; }
#menu ul.grade1>li:last-child>a { border-bottom-color:#a9bee7; }
#menu ul.grade1>li>a:before { content:''; position:absolute; top:17px; right:203px; width:6px; height:6px; border-radius:6px; background-color:#637292; transition:width .2s ease-out; }
#menu ul.grade1>li>a>em { display:block; padding:0 8px 0 28px; }
#menu ul.grade1>li>a>i { position:absolute; top:13px; right:10px; width:14px; height:14px; background:url(../../images/views/index/icon-plus2.png) no-repeat 50% 50%; }
#menu ul.grade0>li.c0>ul.grade1>li>a:hover:before { background-color:#ff8406; }
#menu ul.grade0>li.c1>ul.grade1>li>a:hover:before { background-color:#5fb800; }
#menu ul.grade0>li.c2>ul.grade1>li>a:hover:before { background-color:#00a4eb; }
#menu ul.grade0>li.c3>ul.grade1>li>a:hover:before { background-color:#6c58c0; }
#menu ul.grade0>li.c4>ul.grade1>li>a:hover:before { background-color:#0084ff; }
#menu ul.grade0>li.c5>ul.grade1>li>a:hover:before { background-color:#e05032; }
#menu ul.grade0>li.c6>ul.grade1>li>a:hover:before { background-color:#7947d5; }
#menu ul.grade0>li.c7>ul.grade1>li>a:hover:before { background-color:#c6d313; }
#menu ul.grade1>li>a.on { border-bottom-color:#8ba1cf; }
#menu ul.grade1>li>a.on i { background-image:url(../../images/views/index/icon-minus2.png); }
#menu ul.grade2 { display:none; }
#menu ul.grade2>li { position:relative; }
#menu ul.grade2>li>a { position:relative; display:block; height:40px; border-bottom:1px solid #8ba1cf; background-color:#abbfec; overflow:hidden; text-decoration:none; line-height:40px; color:#464f5d; }
#menu ul.grade2>li:last-child>a { border-bottom-color:#8ba1cf; }
#menu ul.grade2>li>a>em { display:block; padding:0 8px 0 28px; }
#menu a.cf60 em { color:#2090d8; font-weight:700; }

/* #main */
#main { height:100%; background-color:#f4f7fa; margin-left:221px; overflow:hidden; }
/* #tabs */
.tabs { position:relative; width:100%; height:100%; overflow:hidden; }
.tabs-breadcrumb { position:relative; z-index:2; height:50px; border-bottom:1px solid #bcc5d5; background-color:#e8efff; }
.tabs-breadcrumb-content { position:relative; height:50px; margin-right:254px; overflow:hidden; }
.tabs-head { position:absolute; top:0; left:0; height:50px; }
.tabs-head li { float:left; cursor:default; width:120px; height:50px; border-right:1px solid #cbd7f0; background-color:#e8efff; padding:0 15px; }
.tabs-head h4 { float:left; width:86px; height:50px; overflow:hidden; line-height:50px; font-weight:400; }
.tabs-head b { float:right; cursor:pointer; width:14px; height:14px; background:url(../../images/views/index/tabs-close.png) no-repeat 3px -13px; margin-top:18px; }
.tabs-head b:hover { background-position:3px -53px; }
.tabs-head li:hover { background:#fafcff; }
.tabs-head li.active { background-color:#fff; }
.tabs-head li.active h4 { width:70px; background:url(../../images/views/index/tabs-active.png) no-repeat 0 6px; padding-left:20px; color:#f60; font-weight:700; }
.tabs-action { position:absolute; top:0; right:0; z-index:3; height:50px; }
.tabs-action b { display:block; float:left; cursor:pointer; width:50px; height:50px; border-left:1px solid #bcc5d5; background-color:#e8efff; background-image:url(../../images/views/index/tabs-buttons.png); }
.tabs-action b.tabs-left { background-position:0 0; }
.tabs-action b.tabs-right { background-position:-50px 0; }
.tabs-action b.tabs-more { background-position:-100px 0; }
.tabs-action b.tabs-close { background-position:-150px 0; }
.tabs-action b.tabs-refresh { background-position:-200px 0; }
.tabs-action b:hover, .tabs-action b.active { background-color:#fafcff; }
.tabs-list { position:absolute; top:56px; right:16px; z-index:4; display:none; width:220px; height:389px; border:1px solid #8e9ec0; border-radius:1px; background-color:#fff; overflow:auto; }
.tabs-list:before { content:''; position:absolute; top:-10px; left:50%; display:block; border-right:9px solid transparent; border-bottom:9px solid #5d79ab; border-left:9px solid transparent; margin-left:-9px; }
.tabs-list:after { content:''; position:absolute; top:-9px; left:50%; display:block; border-right:9px solid transparent; border-bottom:9px solid #fff; border-left:9px solid transparent; margin-left:-9px; }
.tabs-list ul { padding:5px 0; }
.tabs-list li {  }
.tabs-list a { display:block; height:36px; padding:0 10px; line-height:36px; color:#464f5d; }
.tabs-list a:hover { background-color:#eef1f7; text-decoration:none; }
.tabs-body { position:absolute; top:51px; bottom:0; left:0; z-index:1; width:100%; }
.tabs-body .iframe { display:block; width:100%; height:100%; overflow:hidden; }
.tabs-body iframe { width:100%; height:100%; }

/* #foot */
#foot { position:absolute; bottom:0; z-index:2; width:100%; height:39px; border-top:1px solid #000; background-color:#3c2a36; }
#foot p { line-height:39px; text-align:center; color:#fff; font-family:verdana; }
