@charset "utf-8";

html, body { height:100%; overflow:hidden; }

#menu { width:100%; }
#menu ul.menu-level-0 {  }
#menu ul.menu-level-0>li { position:relative; }
#menu ul.menu-level-0>li>a { position:relative; cursor:default; display:block; height:40px; border-bottom:1px solid #cbd7f0; background-color:rgba(255,255,255,0); padding-left:30px; overflow:hidden; text-decoration:none; line-height:40px; color:#464f5d; }
#menu ul.menu-level-0>li>a:hover { background-color:rgba(255,255,255,1); }
#menu ul.menu-level-0>li>a>i { position:absolute; top:13px; right:660px; width:15px; height:15px; background:url(../../images/views/shortcuts/plus.png) no-repeat 0 0; }
#menu ul.menu-level-0>li>a.on>i { background-image:url(../../images/views/shortcuts/minus.png); }
#menu ul.menu-level-0>li>b { position:absolute; top:8px; right:20px; cursor:pointer; height:24px; border-radius:2px; padding:0 5px; line-height:24px; font-weight:400; color:#fff; }
#menu ul.menu-level-0>li>b.ok { background-color:#91c74f; }
#menu ul.menu-level-0>li>b.cancel { background-color:#fd6540; }
#menu ul.menu-level-1 { display:none; }
#menu ul.menu-level-1>li { position:relative; }
#menu ul.menu-level-1>li>a { position:relative; cursor:default; display:block; height:40px; border-bottom:1px solid #cbd7f0; background-color:rgba(255,255,255,0); padding-left:46px; overflow:hidden; text-decoration:none; line-height:40px; color:#464f5d; }
#menu ul.menu-level-1>li>a:hover { background-color:rgba(255,255,255,1); }
#menu ul.menu-level-1>li>a>i { position:absolute; top:13px; right:644px; width:15px; height:15px; background:url(../../images/views/shortcuts/plus.png) no-repeat 0 0; }
#menu ul.menu-level-1>li>a.on>i { background-image:url(../../images/views/shortcuts/minus.png); }
#menu ul.menu-level-1>li>b { position:absolute; top:8px; right:20px; cursor:pointer; height:24px; border-radius:2px; padding:0 5px; line-height:24px; font-weight:400; color:#fff; }
#menu ul.menu-level-1>li>b.ok { background-color:#91c74f; }
#menu ul.menu-level-1>li>b.cancel { background-color:#fd6540; }
#menu ul.menu-level-2 { display:none; }
#menu ul.menu-level-2>li { position:relative; }
#menu ul.menu-level-2>li>a { position:relative; cursor:default; display:block; height:40px; border-bottom:1px solid #cbd7f0; background-color:rgba(255,255,255,0); padding-left:62px; overflow:hidden; text-decoration:none; line-height:40px; color:#464f5d; }
#menu ul.menu-level-2>li>a:hover { background-color:rgba(255,255,255,1); }
#menu ul.menu-level-2>li>a>i { position:absolute; top:13px; right:628px; width:15px; height:15px; background:url(../../images/views/shortcuts/plus.png) no-repeat 0 0; }
#menu ul.menu-level-2>li>a.on>i { background-image:url(../../images/views/shortcuts/minus.png); }
#menu ul.menu-level-2>li>b { position:absolute; top:8px; right:20px; cursor:pointer; height:24px; border-radius:2px; padding:0 5px; line-height:24px; font-weight:400; color:#fff; }
#menu ul.menu-level-2>li>b.ok { background-color:#91c74f; }
#menu ul.menu-level-2>li>b.cancel { background-color:#fd6540; }






